api_key=cc7a654a879b2679918bfa3ff99489a7
api_secret=0a8e07e2f04f7307
user_id=137359409@N04
picture_directory=/mnt/storage/pictures
processed_directory=/mnt/storage/pictures/processed
notprocessed_directory=/mnt/storage/pictures/notprocessed
database=/mnt/storage/pictures/picture_database.db
database_url=sqlite:////mnt/storage/pictures/picture_database.db
